<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .container {
        outline: dashed 4px black;
        /* display: flex; */
        margin: 25px;
        /* width: 94%; */
        min-height: 100%;
        padding: 149px;
        justify-content: space-evenly;
      }
      p{
        justify-content: center;
    display: flex;
    font-size: 25px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p>
        No page Found on <b><u>' http://localhost/{{endpoint}} '</u></b>
      </p>
      <p>
        <b><u>404</u></b> Page Not Found
      </p>

      <p><a href="/">Go to Home</a></p>
    </div>
  </body>
</html>
